<div id="header">
      <div id="h2" class="ui-dialog-titlebar ui-widget-header ui-corner-all">
      <style type="text/css">
		#userbar{margin-left: 900px;}
	  </style>
	  <%= render 'layouts/userbar' %>
      </div>
      <div id="h3">
        <div class="toggler">
          <div id="effect">
            <img src="css/xiaoting.png" />
          </div>
        </div>
      </div>
      <div class=" box ui-widget-content ui-corner-all ui-helper-clearfix">
        <div id="h4" class="ui-dialog-titlebar ui-widget-header ui-corner-all">
          <table border="0" cellspacing="0" cellpadding="0" id="tb1">
            <tr>
		<%= render "layouts/navibar" %>
                <label style="align: right">
                  <input name="textfield" type="text" value="請輸入搜索內容 " />
                </label>
                <input type="submit" name="Submit" value="搜索" />
                <input type="submit" name="Submit2" value="高級搜索" />
            </tr>
          </table>
        </div>
        <div id="h5">
          <table border="0" cellspacing="0" cellpadding="0" id="tb2">
            <% if logged? %>
            <tr>
              <td rowspan="2" width="80">
                <div id="dtx">
                  <%= @correct_user.avatar :small %>
                </div>
              </td>
              <td width="700" height="28" style="padding-left:5px">
                歡迎回來 <%= @correct_user %>
              </td>
              <td width="400" align="right" style="padding-right:10px">
                歡迎新會員 <%= User.last %>
              </td>
            </tr>
			<% end %>
            <tr>
              <td width="700" style="padding-left:5px">
                公告：
              </td>
              <td width="400" align="right" style="padding-right:10px">
                天氣
              </td>
            </tr>
          </table>
        </div>
        <div id="h6">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" id="tb3">
            <tr>
              <td width="600" style="padding-left:15px">
                <%= render 'layouts/actionbar' %>
              </td>
              <td width="600" align="right" style="padding-right:20px">
                <select name="effects" id="effectTypes" style="visibility:hidden">
                  <option value="fade">
                    Drop
                  </option>
                </select>
                囧 囧 囧 囧
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>