<style>
  .pagination a {
    color: #FFCC66;
    text-decoration: none;
  }
  .pagination{
    padding-top:10px;
    padding-buttom:10px;
    width:600px;
  }
</style>
<div align="center" style="padding-top:150px; cursor:pointer;">
  <div align="right" style="width:600px; font-size:30px; padding-bottom:20px; color:#ffcc66"><%= @user.name %> </div>  
  <div style="width:750px; font-size:14px; padding-bottom:10px; line-height:40px; color:#ffcc66" align="left" ><a href="#" style=" color:#ffcc66">YGO战网</a>　>>　<%= link_to @user.name, @user, :style=>"color:#ffcc66" %>　>>　<a href="" style=" color:#ffcc66">对战列表</a></div>
  <div style="width:600px; display:none; " id="mian1" class="main1" >
    <div style="line-height:25px; background-color:#1c1b1b; height:25px; color:#d6edff; font-weight:bold; ">
      <div style='width:50px; float:left;'><em>场次</em></div>
      <div style='width:200px; float:left;'><em>对手</em></div>
      <div style='width:100px; float:left;' align='center'><em>胜负</em></div>
      <div style='width:100px; float:left;' align='center'><em>得分</em></div>
      <!--<div style='width:100px; float:left;' align='center'><em>战斗终分</em></div>-->
    </div>
<!--这里的效率很低，待优化-->
    <% first_index = @user.duels.where("id<=?",@duels.to_enum.first.id).count %>
    <%# final_credits = Duels.where("id<=?",@duels.to_enum.first.id).sum %>
    <% @duels.each_with_index do |duel, index| %>
      <div style='clear:both;'></div>
      <div style='line-height:25px; padding-top:3px; font-weight:bold; ' align='center'>

        <!--场次-->
        <div style='width:50px; float:left; color:white '  >
          <%= link_to (first_index - index), duel, :style=>"color:white" %> 
        </div>
        <!--对手-->
        <div style='width:200px; float:left; '  align='left'>
          <% opponent = duel.user1 == @user ? duel.user2 : duel.user1 %>
          <%= link_to opponent.name, opponent, :style => 'color:#ffe793; text-decoration:none' %>
        </div>
        <!--胜负-->
        <div style='width:100px; float:left; color:<% if duel.winner == @user %>#58db3e<% else %>red<% end %>'>
          <%= duel.winner == @user ? "WIN" : "LOSE" %>
        </div>
        <!--得分-->
        <div style='width:100px; float:left; color:<% if duel.winner == @user %>#58db3e<% else %>red<% end %>'>
          <%= duel.user1 == @user ? duel.user1_credits : duel.user2_credits %>
        </div>
        <!--战斗终分-->
        <!--<div style='width:100px; float:left; color:<% if index.zero? %>red<% else %>#d6edff<% end %>; '>
  <%#= final_credits %>
  <%# final_credits -= duel.user1 == @user ? duel.user1_credits : duel.user2_credits %>
        </div>-->
      </div>
    <% end %>
  </div>
</div>
<div style="clear:both"/>
<div align="center">
  <%= will_paginate @duels %>
</div>
