<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @notice.user %>
</p>

<p>
  <b>Type:</b>
  <%= @notice.type %>
</p>

<p>
  <b>Assocaion:</b>
  <%= @notice.assocaion %>
</p>

<p>
  <b>User:</b>
  <%= @notice.user %>
</p>


<%= link_to 'Edit', edit_notice_path(@notice) %> |
<%= link_to 'Back', notices_path %>
