<div id="onlineuser">
<strong><%=t 'stat.onlineuser' %></strong>
- <%=t 'stat.total' %> <em>0</em> 
- <%=t 'stat.max' %> <em>0</em> <%=t 'stat.at' %> <em><%=l Time.now, :format => :long %> </em>.
</div>