<h1>Listing servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Ip</th>
    <th>Port</th>
    <th>Http port</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%= server.name %></td>
    <td><%= server.password %></td>
    <td><%= server.ip %></td>
    <td><%= server.port %></td>
    <td><%= server.http_port %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_server_path %>
