<% @pms.each do |pm| %>
  <tr>
    <td><%= pm.from_user %></td>
    <td><%= pm.to_user %></td>
    <td><%= pm.content %></td>
    <td><%= link_to 'Show', pm %></td>
    <td><%= link_to 'Edit', edit_pm_path(pm) %></td>
    <td><%= link_to 'Destroy', pm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pm', new_pm_path %>
