<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @pm.user %>
</p>

<p>
  <b>User:</b>
  <%= @pm.user %>
</p>

<p>
  <b>Content:</b>
  <%= @pm.content %>
</p>


<%= link_to 'Edit', edit_pm_path(@pm) %> |
<%= link_to 'Back', pms_path %>
