<style>
  #duels{width: 600px;text-align: center}
  #duels thead {line-height:25px; background-color:#1c1b1b; height:25px; color:#d6edff; font-weight:bold; }
  #duels tbody {line-height:25px; padding-top:3px; font-weight:bold;}
  #duels .index {color:white}
  #duels .win {color:#58db3e}
  #duels .lose {color:red}
  #duels .current {color:red}

  #user p {text-align: left}
  #user #avatar{float:right}
  .card  {float:left; padding-left:10px; padding-bottom:9px;}
  .card img{width:40px; height:50px; border:0px;}
  .user{  width:330px; font-size:20px; color:#ffcc66; float:left; cursor:pointer;  line-height:40px;padding-left: 12px;font-weight: bold;}
  .user_act{  width:330px; font-size:20px; color:#ffcc66; float:left; cursor:pointer; background-color:#111111; line-height:40px;padding-left: 12px;font-weight: bold;}
  #cards{background-color:#111111; overflow:hidden; padding:12px;text-align: left}
</style>

<div id="user">
  <%= form_for @user, :url => user_path, :html => { :multipart => true } do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div id="avatar">
      <div><%= image_tag @user.avatar.url(:middle) %></div>
      <% if @user == @current_user %>
        <div><%= f.file_field :avatar, style:"width:120px", onchange: "submit(); this.disabled=true;" %></div>
      <% end %>
    </div>
    <p>用户名: <%= @user.name %></p>
    <p>id: <%= @user.id %></p>
    <p>邮箱: <%= @user.email %></p>
    <p>注册时间: <%=l @user.created_at, :format => :long %></p>
    <p>决斗统计：胜<%= @user.wins.count %>:负<%= @user.losts.count %> 总场次：<%= @user.duels.count %></p>
  <% end %>
</div>

<div style="clear:both"></div>
<div id="cards">
  <p><b>常用怪兽:</b> </p>
  <% @user.cards.main_monsters.top(10).each do |card| %>
    <div class="card">
      <%= link_to image_tag(card.image, :title => card.name), card %>
    </div>
  <% end %>

  <div style="clear:both"></div>
  <p><b>常用额外:</b> </p>
  <% @user.cards.extra.top(5).each do |card| %>
    <div class="card">
      <%= link_to image_tag(card.image, :title => card.name), card %>
    </div>
  <% end %>

  <div style="clear:both"></div>
  <p><b>常用魔法:</b> </p>
  <% @user.cards.magics.top(5).each do |card| %>
    <div class="card">
      <%= link_to image_tag(card.image, :title => card.name), card %>
    </div>
  <% end %>

  <div style="clear:both"></div>
  <p><b>常用陷阱:</b> </p>
  <% @user.cards.traps.top(5).each do |card| %>
    <div class="card">
      <%= link_to image_tag(card.image, :title => card.name), card %>
    </div>
  <% end %>
</div>


<table id="duels">
  <thead>
    <tr>
      <th>场次</th>
      <th>对手</th>
      <th>胜负</th>
      <th>得分</th>
      <th>战斗终分</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5"><%= link_to "更多...", {:controller => :duels, :action => :index, :user_id => @user.id} %></td>
    </tr>
  </tfoot>
  <tbody>
    <% final_credits = @user.credits %>
    <% @user.top_duels(20).each_with_index do |duel, index| %>
      <tr>
        <td class="index"><%= link_to (@user.duels.count - index), duel %></td>
        <td class="opponent"><% opponent = duel.user1 == @user ? duel.user2 : duel.user1 %><%= link_to opponent.name, opponent %></td>
        <td class="result <%= duel.winner == @user ? "win" : "lose" %>"><%= duel.winner == @user ? "WIN" : "LOSE" %></td>
        <td class="credits <%= duel.winner == @user ? "win" : "lose" %>"><%= duel.user1 == @user ? duel.user1_credits : duel.user2_credits %></td>
        <td class="final_credits <%= "current" if index.zero? %>"><%= final_credits %><% final_credits -= duel.user1 == @user ? duel.user1_credits : duel.user2_credits %></td>
      </tr>
    <% end %>
  </tbody>
</table>
