  <% superboard = board %> <!--这里的变量命名很纠结..待修正-->
  <div class="mainbox list">
    <span class="headactions">
      <%= image_tag 'common/collapsed_no.gif', :id => 'category_3_img', :title => 'sq/zk '%>
    </span>


    <h3><%= superboard %></h3>
    <table id="category_<%= superboard.id %> " summary="category<%= superboard.id %>" cellspacing="0" cellpadding="0" style="">
      <% superboard.subboards.each do |board| %>
        <tbody id="board<%= board.id %>">
          <tr>
            <th>
              <%= image_tag board.logo_url, :style => "float:left; margin-right: 10px" %> <!--TODO-->
        <div class="left">

          <h2><%= board %></h2>
          <p><%= board.introduction %></p>
          <% unless board.subboards.empty? %>
            <p><%=t 'board.subboard' %>: 
              <% board.subboards.each do |subboard| %>
                <%= subboard %> 
              <% end %>
            </p>
          <% end %>
        </div>
        </th>
        <td class="boardnums">
          <em><%= board.topics.size %></em> / <%= board.posts.size %></td>
        <td class="boardlast">
          <% if post = board.posts.last %>
            <p><%= post.topic %></p>
            <cite><%= post.user %> - <span title="<%= post.updated_at %>"><%=l post.updated_at, :format => :short %></span></cite>
          <% else %>
            <%=t 'board.none' %>
          <% end %>
        </td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>

