<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t 'board.name' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t 'board.introduction' %><br />
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label t 'board.notice' %><br />
    <%= f.text_area :notice %>
  </div>
  <div class="field">
    <%= f.label t 'board.logo' %><br />
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label t 'board.banner' %><br />
    <%= f.text_field :banner %>
  </div>
  <div class="field">
    <%= f.label t 'board.readperm' %><br />
    <%= f.text_field :readperm %>
  </div>
  <div class="field">
    <%= f.label t 'board.topicperm' %><br />
    <%= f.text_field :topicperm %>
  </div>
  <div class="field">
    <%= f.label t 'board.postperm' %><br />
    <%= f.text_field :postperm %>
  </div>
  <div class="actions">
    <%= f.submit t 'board.submit' %>
  </div>
<% end %>
