<div id="wrap" class="wrap s_clear">
  <div class="itemtitle s_clear">
    <p class="right boardcount">
      <%=t 'datetime.today' %>: <em><%= Post.today.count %> </em>, 
      <%=t 'datetime.yesterday' %>: <em><%= Post.yesterday.count %></em>, 
      <%=t 'stat.total' %>: <em><%= Post.count %></em>
    </p>
  </div>
  <%= render @boards %>
  <div id="ad_intercat_16"></div>
  <div class="mainbox list">
    <span class="headactions">
      <%= image_tag 'common/collapsed_no.gif' %>
      <h3>link</h3>
      <div id="boardlinks" style="">

      </div>
  </div>
  <div class="mainbox list" id="online">
    <span class="headactions"><a href="index.php?showoldetails=yes#online" class="nobdr"><%= image_tag 'common/collapsed_yes.gif' %></a></span>

    <h3>
      <%= render 'layouts/onlineuserbar' %>
    </h3>
  </div>
</div>