<div id="wrap" class="wrap s_clear">
<div class="itemtitle s_clear">
<p class="right boardcount">
<%=t 'datetime.today' %>: <em><%= Post.today.count %> </em>, 
<%=t 'datetime.yesterday' %>: <em><%= Post.yesterday.count %></em>


</p>
</div><div class="mainbox list">
<span class="headactions">
<img id="category_3_img" src="images/default/collapsed_no.gif" title="sq/zk" alt="sq/zk" onclick="toggle_collapse('category_3');" />
</span>
<%# @boards.each do |area|  %>
<%# next if area.subboards.empty? %>
	<h3><a href="index.php?gid=3" style="">测试版块</a></h3>
	<table id="category_3" summary="category3" cellspacing="0" cellpadding="0" style="">
	<% @boards.each do |board| %>
		<tbody id="board<%= board.id %>">
		<tr>
		<th>
  		<%= link_to image_tag(board.logo), board %>
		<div class="left">
		
		<h2><%= board %></h2>
		<p><%= board.introduction %></p></div>
		</th>
		<td class="boardnums">
		<em><%= board.topics.size %></em> / <%= board.posts.size %></td>
		<td class="boardlast">
		<% if board.topics.last %>
			<p><%= board.topics.last %></p>
			<cite><%= board.posts.last.user %> - <span title="<%= board.posts.last.updated_at %>"><%=l board.posts.last.updated_at, :format => :short %></span></cite>
		<% else %>
			none
		<% end %>
		</td>
			</tr>
			</tbody>
	<% end %>
	</table>
	</div>
<%# end %>
<div id="ad_intercat_16"></div>
<div class="mainbox list">
<span class="headactions"><img id="boardlinks_img" src="images/default/collapsed_no.gif" alt="" onclick="toggle_collapse('boardlinks');" /></span>
<h3>link</h3>
<div id="boardlinks" style="">

</div>
</div>
<div class="mainbox list" id="online">
<span class="headactions"><a href="index.php?showoldetails=yes#online" class="nobdr"><img src="images/default/collapsed_yes.gif" alt="" /></a></span>

<h3>
<strong><%=t 'stat.onlineuser' %></strong>
- <%=t 'stat.total' %> <em>0</em> 
- <%=t 'stat.max' %> <em>0</em> <%=t 'stat.at' %> <em><%=l Time.now, :format => :long %> </em>.
</h3>
</div>