#encoding: UTF-8
<div id="wrapper">
<div id="wrap" class="wrap s_clear">
<div class="main">
<div class="content">
<div id="boardheader" class="s_clear">
<h1 style=""><% @board.name %></h1>
<p class="boardstats">[ <strong><%= @board.topics.size %></strong> 主题 / <%= @board.posts.size %> 帖子]</p>
<div class="boardaction">
<!--<div class="right">
<a href="my.php?item=attention&amp;type=board&amp;action=add&amp;fid=68" id="ajax_attention" class="attention" onclick="ajaxmenu(this);doane(event);">关注</a>

<a href="my.php?item=favorites&amp;fid=68" id="ajax_favorite" onclick="ajaxmenu(this);doane(event);">收藏</a>
<a href="rss.php?fid=68&amp;auth=80baas4p%2BS%2FNnT%2BlQanrr%2Blzuk13j9xswULkRK6FhUrlnnrhZxiBsSc%2FwKk" target="_blank" class="feed">RSS</a></div>-->
</div>
<p class="channelinfo"><%= @board.notice %></p><p id="modedby">
版主: *空缺中*</p>
</div>


<div class="pages_btns s_clear">
<%= render 'layouts/pages', :count => @board.topics.count %>
<span id="visitedboards" onmouseover="$('visitedboards').id = 'visitedboardstmp';this.id = 'visitedboards';showMenu({'ctrlid':this.id})" class="pageback"><a href="index.php">返回首页</a></span>

<span class="postbtn" id="newspecial" prompt="post_newthread" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"><a href="post.php?action=newthread&amp;fid=68" onclick="showWindow('newthread', this.href);return false;">发帖</a></span>
</div>


<div id="threadlist" class="threadlist datalist" style="position: relative;">
<form method="post" name="moderate" id="moderate" action="topicadmin.php?action=moderate&amp;fid=68&amp;infloat=yes&amp;nopost=yes">
<input type="hidden" name="formhash" value="eed723b8" />
<input type="hidden" name="listextra" value="page%3D1" />
<table summary="board_68"  cellspacing="0" cellpadding="0" class="datatable">
<thead class="colplural">
<tr>
<td colspan="2"></td>
<th>
<ul class="itemfilter s_clear">


</ul>
</th>

<td class="author"><a href="boarddisplay.php?fid=68&amp;filter=&amp;orderby=dateline" class="order "><%= t 'topic.user_name' %> 

<%= link_to(t('topic.created_at'), :order => 'creaded_at') %></a></td>

<td class="nums"><a href="boarddisplay.php?fid=68&amp;filter=&amp;orderby=replies" class="order "><%= t 'topic.reply_num' %></a>&nbsp;
  <a href="boarddisplay.php?fid=68&amp;filter=&amp;orderby=views" class="order "><%= t 'topic.view_num' %></a></td>
<td class="lastpost"><cite><a href="boarddisplay.php?fid=68&amp;filter=&amp;orderby=lastpost" class="order order_active"><%= t 'topic.post_last' %></a></cite></td>
</tr>
</thead>

<% @topics.each do |topic| %>

<tbody id="normalthread_<%= topic.id %>">
<tr>
<td class="folder">
<%= link_to image_tag(case
  when topic.locked
    "topic/locked.gif"
  when topic.displayorder != 0
    "topic/displayorder#{topic.displayorder}.gif"
  else
    "topic/new.gif"
  end), topic, :target => :_blank %>

</td>
<td class="icon">
&nbsp;</td>
<th class="subject common">

<label>&nbsp;</label>
 <span id="thread_<%= topic.id %>"><%= topic %></span>
 <%= link_to(t('topic.control.delete'), control_topic_path(topic, :deleted => 1)) %>
 <%= link_to(t('topic.control.digest'), control_topic_path(topic, :digest => 1)) %>
 <%= link_to(t('topic.control.displayorder'), control_topic_path(topic, :displayorder => 1)) %>
 <%= link_to(t('topic.control.lock'), control_topic_path(topic, :locked => 1)) %>
 <%= link_to(t('topic.control.highlight'), control_topic_path(topic, :highlight => 0xFF0000)) %>
 
</th>
<td class="author">
<cite>
<%= topic.user %>
</cite>
<em><%=l topic.posts.last.updated_at, :format => :short %></em>
</td>
<td class="nums"><strong><%= topic.posts.size - 1 %></strong></td>

<td class="lastpost">
<cite><%= topic.posts.last.user %></cite>
<em><span title="<%= topic.posts.last.updated_at %>"><%= link_to (l topic.posts.last.updated_at, :format => :short), topic.posts.last %></span></a></em>
</td>
</tr>
</tbody>
<% end %></table>

</form>
</div>
<div class="pages_btns s_clear">
<div class="pages"><strong>1</strong><a href="boarddisplay.php?fid=68&amp;page=2">2</a><a href="boarddisplay.php?fid=68&amp;page=3">3</a><a href="boarddisplay.php?fid=68&amp;page=4">4</a><a href="boarddisplay.php?fid=68&amp;page=2" class="next">下一页</a></div><span id="visitedboards" onmouseover="$('visitedboards').id = 'visitedboardstmp';this.id = 'visitedboards';showMenu({'ctrlid':this.id})" class="pageback"><a href="index.php">返回首页</a></span>
<span class="postbtn" id="newspecialtmp" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"><a href="post.php?action=newthread&amp;fid=68" onclick="showWindow('newthread', this.href);return false;">发帖</a></span>
</div>
<p id="notice"><%= notice %></p>

<%= link_to 'New Topic', new_topic_path %>
<%# fast newthread %>

<%= form_tag :controller => :topics do %>
  <p>
    Title: <%= text_field_tag  "topic[name]" %>
  </p>
  <p>
    Content: <%= text_area_tag "post[content]" %>
   </p>
   <%= hidden_field_tag  "topic[category_id]", @board.id%>
   <%= hidden_field_tag  "topic[category_type]", :board%>
    <%= submit_tag "newthread" %>
<% end %>
<dl id="onlinelist">
<dt>
<span class="headactions"><a href="boarddisplay.php?fid=68&amp;page=1&amp;showoldetails=yes#online" class="nobdr"><img src="images/default/collapsed_yes.gif" alt="" /></a></span>
<h3>正在浏览此版块的会员</h3>
</dt>
</dl>

</div>
</div>
<ul class="popupmenu_popup postmenu" id="newspecial_menu" style="display: none">
<li><a href="post.php?action=newthread&amp;fid=68" onclick="showWindow('newthread', this.href);doane(event)">发新话题</a></li><li class="poll"><a href="post.php?action=newthread&amp;fid=68&amp;special=1">发布投票</a></li><li class="reward"><a href="post.php?action=newthread&amp;fid=68&amp;special=3">发布悬赏</a></li><li class="debate"><a href="post.php?action=newthread&amp;fid=68&amp;special=5">发布辩论</a></li><li class="activity"><a href="post.php?action=newthread&amp;fid=68&amp;special=4">发布活动</a></li><li class="trade"><a href="post.php?action=newthread&amp;fid=68&amp;special=2">发布商品</a></li></ul>

<ul class="popupmenu_popup headermenu_popup filter_popup" id="filtertype_menu" style="display: none;">
<li><a href="boarddisplay.php?fid=68">全部</a></li>
<li ><a href="boarddisplay.php?fid=68&amp;filter=poll">投票</a></li><li ><a href="boarddisplay.php?fid=68&amp;filter=trade">商品</a></li><li ><a href="boarddisplay.php?fid=68&amp;filter=reward">悬赏</a></li><li ><a href="boarddisplay.php?fid=68&amp;filter=activity">活动</a></li><li ><a href="boarddisplay.php?fid=68&amp;filter=debate">辩论</a></li></ul>

<ul class="popupmenu_popup" id="visitedboards_menu" style="display: none">
<li><a href="boarddisplay.php?fid=2&amp;sid=6e1Kys">综合讨论</a></li><li><a href="boarddisplay.php?fid=23&amp;sid=6e1Kys">版主申请</a></li><li><a href="boarddisplay.php?fid=48&amp;sid=6e1Kys">文文最速新闻</a></li><li><a href="boarddisplay.php?fid=76&amp;sid=6e1Kys">幻想乡大温泉</a></li></ul>

<script type="text/javascript">document.onkeyup = function(e){keyPageScroll(e, 0, 1, 'boarddisplay.php?fid=68', 1);}</script>
<div id="ad_footerbanner1"></div><div id="ad_footerbanner2"></div><div id="ad_footerbanner3"></div>
<script>$('umenu').innerHTML = '<span id="myrepeats" onmouseover="showMenu(this.id)">[切换]</span>' + $('umenu').innerHTML;</script><ul id="myrepeats_menu" class="popupmenu_popup" style="display:none;"><li class="wide" style="clear:both"><a href="plugin.php?id=myrepeats:memcp">设置马甲</a></li></ul></div>
</div><ul class="popupmenu_popup headermenu_popup" id="plugin_menu" style="display: none">          <li><a id="mn_plugin_family_family" href="plugin.php?id=family:family">家族门派</a></li>
     </ul>
<ul class="popupmenu_popup headermenu_popup" id="1nNcin_menu" style="display: none"><li><a href="plugin.php?id=moodwall" hidefocus="true" >心情墙壁</a></li><li><a href="plugin.php?id=dps_medalcenter" hidefocus="true" >勋章中心</a></li><li><a href="magic.php" hidefocus="true" >道具中心</a></li><li><a href="plugin.php?id=rs_sign:sign" hidefocus="true" >每日签到</a></li><li><a href="pet.php" hidefocus="true" >口袋东方</a></li><li><a href="plugin.php?id=promotion:promotion" hidefocus="true" >宣传中心</a></li><li><a href="bank.php" hidefocus="true" >社区银行</a></li><li><a href="plugin.php?id=family:family" hidefocus="true" >家族领地</a></li></ul>
</div>