<h1>Listing referees</h1>

<table>
  <tr>
    <th>User</th>
    <th>Tournament</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referees.each do |referee| %>
  <tr>
    <td><%= referee.user %></td>
    <td><%= referee.tournament %></td>
    <td><%= link_to 'Show', referee %></td>
    <td><%= link_to 'Edit', edit_referee_path(referee) %></td>
    <td><%= link_to 'Destroy', referee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referee', new_referee_path %>
