<%= form_tag :controller => :posts do %>
  <p>
    <%= @topic %>
  </p>
  <p>
    <%= render 'topics/editor' %>
  </p>
  <%= hidden_field_tag  "post[topic_id]", @topic.id %>
  <%= submit_tag t("topic.submit") %>
<% end %>