<h1>Listing moderators</h1>

<table>
  <tr>
    <th>User</th>
    <th>Board</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moderators.each do |moderator| %>
  <tr>
    <td><%= moderator.user %></td>
    <td><%= moderator.board %></td>
    <td><%= link_to 'Show', moderator %></td>
    <td><%= link_to 'Edit', edit_moderator_path(moderator) %></td>
    <td><%= link_to 'Destroy', moderator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moderator', new_moderator_path %>
