<!DOCTYPE html>
<html>
  <head>
    <title> <%= @site.name %><% if @actions && !@actions.empty? %>  - <%= @actions.last.respond_to?(:name) ? @actions.last.name : @actions.last %> <% end %> </title>
<%#= stylesheet_link_tag    'application' %>    
    <%= stylesheet_link_tag    'losses' %>    
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag 'application' %>    
    <%= javascript_include_tag 'losses' %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <HEADER>
      <div class="main">
        <div id="logo">
          <%= image_tag "logo.png", alt: "萌卡 Alpha" %>
        </div>
      </div>
      <div id="nav">
        <div class="main">
          <%= link_to "返回主页", :root %>
          <%= link_to "在线大厅", :rooms %>
          <%= link_to "用户排行", :users %>
          <%= link_to "论坛", :boards %>
        </div>
      </div>
    </HEADER>
    <div id="body">
      <%= yield %>
    </div>
  </body>
</html>
