<!DOCTYPE html>
<html>
  <head>
    <!--[if lte IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title> <%= @site.name %><% if @actions && !@actions.empty? %>  - <%= @actions.last.respond_to?(:name) ? @actions.last.name : @actions.last %> <% end %> </title>
<%#= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'ygo' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag 'application' %>    
    <%= javascript_include_tag 'ygo' %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header">
      <div id="title"><%= @actions.last %></div>
    </header>      
    <nav id="actions">
      <%= render 'entries/action' %>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
    <footer id="footer">
      YGO DULE BATTLENET
    </footer>
  </body>
</html>
