<!DOCTYPE html>
<html>
  <head>
    <!--[if lte IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title> <%= @site.name %><% if @actions && !@actions.empty? %>  - <%= @actions.last.respond_to?(:name) ? @actions.last.name : @actions.last %> <% end %> </title>
<%#= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'ygo' %>
    <%= stylesheet_link_tag    params[:controller] %>
    <%= javascript_include_tag 'application' %>    
    <%= javascript_include_tag 'ygo' %>
    <%= javascript_include_tag params[:controller] %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header id="header">
      <div id="title"><%= @actions.last %></div>
    </header>      
    <nav id="actions">
      <%= render 'entries/action' %>
    </nav>
    <div align="center"><!--不加这个的话 飞入效果会抽一下，直接加到下面那个div上不管用，style="text-align:center; float:center"也不管用-->
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <footer id="footer">
      YGO DULE BATTLENET 由<a href="http://fh-sky.5d6d.com/">凤凰(FH)战队</a>提供技术支持
    </footer>
  </body>
</html>